html:not(code) {
  background-color: #343434;
  color: white;
}

.box {
  width: 10vw;
  height: 10vw;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

a {
  color: lightblue;
}
